.bg-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-family: 'Roboto';
}
.name-card {
  background-image: url(https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png);
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.heading-1 {
  color: #475569;
  font-size: 30px;
  margin-bottom: 5px;
}
.description {
  font-size: 16px;
  color: #475569;
}
span {
  color: #0b69ff;
}
.boxes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.input-form {
  width: 300px;
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.heading-2 {
  font-size: 30px;
  color: #1e293b;
  margin-bottom: 10px;
}
label {
  color: #7e858e;
  font-size: 15px;
  margin-bottom: 5px;
}
.input-box {
  height: 40px;
  width: 250px;
  padding: 5px;
  border: 1px solid #d7dfe9;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.add-btn {
  height: 40px;
  width: 100px;
  border: 0px;
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}
.history-card {
  width: 400px;
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 15px;
}
.table-headings {
  width: 90%;
  border: 0.5px solid #7e858e;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color: #334155;
  font-weight: 700;
}
.delete-btn {
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.hide {
  display: none;
}
